{% extends "store/base.html" %}
{% load static %}
{% block content %}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-shopping"></i>
            </span>Orders</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'store-orders' %}">Orders</a></li>
                <li class="breadcrumb-item active" aria-current="page">List</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Order No</th>
                                    <th>Customer</th>
                                    <th>Phone</th>
                                    <th>Ordered at</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>53275531</td>
                                    <td>Jacob</td>
                                    <td>01700000000</td>
                                    <td>13 Octboer 2020</td>
                                    <td><label class="badge badge-danger">Pending</label></td>
                                    <td><a href="#"><i class="mdi mdi-table-edit"></i></a></td>
                                </tr>
                                <tr>
                                    <td>53275532</td>
                                    <td>Messy</td>
                                    <td>01300000000</td>
                                    <td>13 Octboer 2020</td>
                                    <td><label class="badge badge-info">In progress</label></td>
                                    <td><a href="#"><i class="mdi mdi-table-edit"></i></a></td>
                                </tr>
                                <tr>
                                    <td>53275533</td>
                                    <td>John</td>
                                    <td>01600000000</td>
                                    <td>12 Octboer 2020</td>
                                    <td><label class="badge badge-info">In progress</label></td>
                                    <td><a href="#"><i class="mdi mdi-table-edit"></i></a></td>
                                </tr>
                                <tr>
                                    <td>53275534</td>
                                    <td>Peter</td>
                                    <td>01900000000</td>
                                    <td>12 Octboer 2020</td>
                                    <td><label class="badge badge-success">Completed</label></td>
                                    <td><a href="#"><i class="mdi mdi-table-edit"></i></a></td>
                                </tr>
                                <tr>
                                    <td>53275535</td>
                                    <td>Dave</td>
                                    <td>01800000000</td>
                                    <td>11 Octboer 2020</td>
                                    <td><label class="badge badge-success">Completed</label></td>
                                    <td><a href="#"><i class="mdi mdi-table-edit"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}