{% extends "store/base.html" %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Orders</h1>
</div>

<h3>All Orders</h3>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th>Customer</th>
                <th>Ordered At</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1,008</td>
                <td>Stuffed Pizza</td>
                <td>John Doe</td>
                <td>4th July 10:00 AM</td>
                <td>Submitted</td>
            </tr>
            <tr>
                <td>1,007</td>
                <td>Pan Pizza</td>
                <td>Janr Doe</td>
                <td>4th July 09:30 AM</td>
                <td>Processing</td>
            </tr>
            <tr>
                <td>1,006</td>
                <td>Sausage & Pepperoni</td>
                <td>Dave Thomas</td>
                <td>4th July 09:20 AM</td>
                <td>Processing</td>
            </tr>
            <tr>
                <td>1,005</td>
                <td>Veggie Mexicana</td>
                <td>Michael</td>
                <td>3rd July 10:00 PM</td>
                <td>Cancelled</td>
            </tr>
            <tr>
                <td>1,004</td>
                <td>Pan Pizza</td>
                <td>Salman Ahmed</td>
                <td>3rd July 09:00 AM</td>
                <td>Delivered</td>
            </tr>
            <tr>
                <td>1,003</td>
                <td>Pan Pizza</td>
                <td>Raisul Kabir</td>
                <td>4th July 09:30 AM</td>
                <td>Delivered</td>
            </tr>
            <tr>
                <td>1,002</td>
                <td>Sausage & Pepperoni</td>
                <td>Dave Thomas</td>
                <td>2nd July 09:20 AM</td>
                <td>Delivered</td>
            </tr>
            <tr>
                <td>1,001</td>
                <td>Veggie Mexicana</td>
                <td>Michael</td>
                <td>2nd July 10:00 PM</td>
                <td>Delivered</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}